{% extends 'listings/base_home.html' %}

{% block style %}

		.section {font-size:20px;height:640px;width:1260px;border-style:solid;position:relative;left:400px;}
		.signup {text-align:center;position:relative;top:110px;left:50px;width:500px;}
		.signin {text-align:center;position:relative;left:700px;width:500px}
		
{% endblock %}


{% block content %}

				<div class="signup">
						<h1>Inscrivez-vous maintenant</h1><br>
						<button><a href="http://127.0.0.1:8000/home/register">S'inscrire</a></button>
				</div>
				<div class="signin">
					<h1>Connectez-vous</h1>
					<form action="" method="post">
					{% csrf_token %}
					{{ form.as_p }}
					  <input type="submit" value="Se connecter">
					</form>
				</div>
				
{% endblock %}