{% extends 'listings/base_flux.html' %}


	{% block style %}
			.section {font-size:medium;height:2040px;width:1260px;border-style:solid;position:relative;left:400px;}
			.title {text-align:center; position:relative;}
			.section_title {top:7px;}
			.menu {text-align:right;right:10px;position:absolute;}
			.base {height:1100px;width:1000px;position:relative;left:120px;top:5px;text-align:left;}
			form {position:relative;top:10px}
		.entry {position:relative;margin:10px;}
		.title_entry {font-size:30px;}
		.date_entry {top:5px;right:1px;position:absolute;}
	{% endblock %}

	{% block content %}
				<h2 class="title">Modifier une critique</h2>
				<div class="base">
					<form action="" method="post" enctype="multipart/form-data">
					{% csrf_token %}
						<h3>Livre / Article</h3>
						<br><br>
						<div>
									<div class="entry ticket">
									
									{% if ticket.user == user %}
									<span class="title_entry ">Vous avez demandé une critique</span>
									{% else %}
									<span class="title_entry ">{{ ticket.user }} a demandé une critique</span>{% endif %}   <span class="date_entry">{{ ticket.time_created }}</span><br>
										<h2>{{ ticket.title }}</h2><br>
										
										<img style="width:200px;height:300px;" src="{{ ticket.image.url }}"/>
										
										<span style="margin-left:10px;font-size:20px;vertical-align:top;">{{ ticket.description }}</span>
										
									</div>
									<br>
					</div>
						<br><br><br><br>
						<hr>
						<br><br>
						<h3>Critique</h3>
						<br><br>
						<div>
					{{ form_rev.as_p }}
					</div>
						<input style="height:70px;width:170px;position:absolute;right:50px;" type="submit" value="Envoyer">
					</form>
				</div>
	{% endblock %}