.section {font-size:20px;height:1840px;width:1260px;border-style:solid;position:relative;left:400px;}
.title {text-align:center;}
.login{text-align:left;left:40px;position:absolute;border-style:solid 1px;)
